<div >
	<div id="card-stats">
      <div class="row mt-1">

        <div class="col s12 m6 l3">
          <div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text">
            <div class="p-0">
              <div class="col s7 m7">
                <i class="material-icons background-round mt-5">description</i>
                <p>Orders</p>
              </div>
              <div class="col s5 m5 right-align">
                <h5 class="mb-0">690</h5>
                <p class="no-margin">New</p>
                <p>60,000</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col s12 m6 l3">
          <div class="card gradient-45deg-indigo-light-blue gradient-shadow min-height-100 white-text">
            <div class="p-0">
              <div class="col s7 m7">
                <i class="material-icons background-round mt-5">perm_identity</i>
                <p>Clients</p>
              </div>
              <div class="col s5 m5 right-align">
                <h5 class="mb-0">509</h5>
                <p class="no-margin">New</p>
                <p>10,560</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l3">
          <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
            <div class="p-0">
              <div class="col s7 m7">
                <i class="material-icons background-round mt-5">build</i>
                <p>Technicians</p>
              </div>
              <div class="col s5 m5 right-align">
                <h5 class="mb-0">150</h5>
                <p class="no-margin">new</p>
                <p>5,763</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l3">
          <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
            <div class="p-0">
              <div class="col s7 m7">
                <i class="material-icons background-round mt-5">attach_money</i>
                <p>Profit</p>
              </div>
              <div class="col s5 m5 right-align">
                <h5 class="mb-0">$890</h5>
                <p class="no-margin">Today</p>
                <p>$25,000</p>
              </div>
            </div>
          </div>
        </div>

      </div>

	 <div id="work-collections">
        <div class="row">
            <div class="col s12 m12 l6">
          		<ul id="projects-collection" class="collection z-depth-1">
            	    <li class="collection-item avatar">
                  		<i class="material-icons cyan circle">perm_identity</i>
                  		<h6 class="collection-header m-0">Clients</h6>
                  		<p>Top 5 with best scores</p>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s9">
                          <p class="collections-title">Bruce Wayne</p>
                          <p class="collections-content">AEC Company</p>
                        </div>
                        <div class="col s3">
                          <span class="task-cat red accent-2">5 stars</span>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s9">
                          <p class="collections-title">Diana Prince</p>
                          <p class="collections-content">iSocial App</p>
                        </div>
                        <div class="col s3">
                          <span class="task-cat red accent-2">4.8 stars</span>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s9">
                          <p class="collections-title">Clark Kent</p>
                          <p class="collections-content">MediTab</p>
                        </div>
                        <div class="col s3">
                          <span class="task-cat red accent-2">4.8 stars</span>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s9">
                          <p class="collections-title">Artur Curry</p>
                          <p class="collections-content">True Line</p>
                        </div>
                        <div class="col s3">
                          <span class="task-cat red accent-2">4.6 stars</span>
                        </div>
                      </div>
                    </li>
                     <li class="collection-item">
                      <div class="row">
                        <div class="col s9">
                          <p class="collections-title">Barry Allen</p>
                          <p class="collections-content">True Line</p>
                        </div>
                        <div class="col s3">
                          <span class="task-cat red accent-2">4.5 stars</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="col s12 m12 l6">
                  <ul id="issues-collection" class="collection z-depth-1">
                    <li class="collection-item avatar">
                      <i class="material-icons red accent-2 circle">build</i>
                      <h6 class="collection-header m-0">Technicians</h6>
                  		<p>Top 5 with best scores</p>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s7">
                          <p class="collections-title">Steve Rogers</p>
                          <p class="collections-content">Web Project</p>
                        </div>
                        <div class="col s2">
                          <span class="task-cat cyan ">5 stars</span>
                        </div>
                        <div class="col s3">
                          <div class="progress">
                            <div class="determinate" style="width: 100%"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s7">
                          <p class="collections-title">Tony Stark</p>
                          <p class="collections-content">API Project </p>
                        </div>
                        <div class="col s2">
                          <span class="task-cat cyan">4.9 stars</span>
                        </div>
                        <div class="col s3">
                          <div class="progress">
                            <div class="determinate" style="width: 98%"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s7">
                          <p class="collections-title">Steven Strange</p>
                          <p class="collections-content">New Project </p>
                        </div>
                        <div class="col s2">
                          <span class="task-cat cyan">4.5 stars</span>
                        </div>
                        <div class="col s3">
                          <div class="progress">
                            <div class="determinate" style="width: 90%"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s7">
                          <p class="collections-title">Natalia Romanova</p>
                          <p class="collections-content">SAP Project</p>
                        </div>
                        <div class="col s2">
                          <span class="task-cat cyan">4.2 stars</span>
                        </div>
                        <div class="col s3">
                          <div class="progress">
                            <div class="determinate" style="width: 84%"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s7">
                          <p class="collections-title">Peter Parker</p>
                          <p class="collections-content">SAP Project</p>
                        </div>
                        <div class="col s2">
                          <span class="task-cat cyan">4 stars</span>
                        </div>
                        <div class="col s3">
                          <div class="progress">
                            <div class="determinate" style="width: 80%"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>



    </div>
</div>