#card-stats .card-content {
  text-align: center;
}

#card-stats .card-stats-title {
  font-size: 1rem;
}

#card-stats .card-stats-title i {
  font-size: 1.2rem;
  top: 4px;
  position: relative;
}

#card-stats .card-stats-compare {
  font-size: 1.0rem;
}

#card-stats .card-stats-compare i {
  position: relative;
  top: 5px;
}

#card-stats .card-stats-number {
  font-size: 1.8rem;
  line-height: 2.0rem;
  margin: 0.2rem 0 0.2rem 0;
  font-weight: 500;
}

#card-stats .card .card-content {
  padding: 10px 14px;
}

#card-stats .card .card-action {
  padding: 10px 14px;
}

.collection .collection-item.avatar:not(.circle-clipper) > .circle {
  background: #e6e6e6;
}


/* work card */
#work-collections .collection-header {
  font-size: 1.14rem;
  font-weight: 500;
}

#work-collections p.collections-title {
  font-size: 1.0rem;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

#work-collections p.collections-content {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

#work-collections .collection-item.avatar {
  height: auto;
  padding-top: 22px;
}
.collection .collection-item.avatar i.circle {
  font-size: 28px;
}

/* task card */
#task-card label {
  display: block;
  color: rgba(0, 0, 0, 0.87);
  height: auto;
}

#task-card .task-card-title {
  margin: 0;
  color: #fff;
  font-weight: 300;
}

#task-card .task-card-date {
  font-size: 1.0rem;
  margin: 0;
  color: #fff;
}

#task-card .collection-header {
  padding: 20px;
}

#task-card .task-add {
  position: absolute;
  right: 10px;
  top: 76px;
}

#task-card .task-cat {
  padding: 2px 4px;
  color: #fff;
  margin-left: 37px;
  font-weight: 300;
  font-size: 0.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}

.task-cat {
  padding: 2px 4px;
  color: #fff;
  font-weight: 300;
  font-size: 0.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}
