.radius-button{
	border-radius: 15px;
}

h1.logo-wrapper {
  margin: 0;
}

h1 span.logo-text {
  font-size: 26px;
  padding-left: 8px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

header .brand-logo {
  margin: 1px 0px;
  padding: 22px 20px;
  line-height: 0;
}

header .brand-logo img {
  height: 18px;
}