<div class="row">
  	<div class="col s12">
  		<div id="profile-page-header" class="card">

  			<div class="card-image waves-effect waves-block waves-light">
  				<img class="activator" src="assets/img/bg-02.png" alt="user background">
  			</div>

  			<figure class="card-profile-image">
  				<img src="assets/img/avatar-7.png" alt="profile image" class="circle z-depth-2 responsive-img activator gradient-45deg-light-blue-cyan gradient-shadow">
  			</figure>

  			<div class="card-content">
  				<div class="row pt-2">
  					<div class="col s12 m3 offset-m2">
  						<h4 class="card-title grey-text text-darken-4" >{{user.name}} {{user.lastname}}</h4>
  						<p class="medium-small grey-text">{{user.type}}</p>
  					</div>
  					<div class="col s12 m2 center-align" *ngIf="(user.userable!=null)">
  						<h4 class="card-title grey-text text-darken-4">{{user.userable.score}}</h4>
  						<p class="medium-small grey-text">Score</p>
  					</div>
  					<div class="col s12 m2 center-align">
  						<h4 class="card-title grey-text text-darken-4">6</h4>
  						<p class="medium-small grey-text">Orders</p>
  					</div>
  					<div class="col s12 m2 center-align">
  						<h4 class="card-title grey-text text-darken-4">{{user.created_at?.date}}</h4>
  						<p class="medium-small grey-text">Register {{user.register_date}}</p>
  					</div>
  					<div class="col s12 m1 right-align">
  						<a class="btn-floating activator waves-effect waves-light rec accent-2 right">
  							<i class="material-icons">perm_identity</i>
  						</a>
  					</div>
  				</div>
  			</div>

  			<div class="card-reveal">
  				<p>
  					<span class="card-title grey-text text-darken-4">{{user.name}} {{user.lastname}}
  						<i class="material-icons right">close</i>
  					</span>
  					<span>
  						<i class="material-icons cyan-text text-darken-2">perm_identity</i> {{user.type}}
  					</span>
				</p>
  				<p>
  					<i class="material-icons cyan-text text-darken-2">perm_phone_msg</i> 
  					<span *ngIf="user.phone!=null; else elsePhone">{{user.phone}}</span>
  				</p>
				<p>
					<i class="material-icons cyan-text text-darken-2">email</i> {{user.email}}
				</p>
				<p>
					<i class="material-icons cyan-text text-darken-2">cake</i> {{user.birthdate}}
				</p>
			</div>
		</div>
	</div>
</div>  	
<div class="fixed-action-btn">
	<a [routerLink]="['/users']" class="btn-floating btn-large gradient-45deg-amber-amber">
		<i class="large material-icons">arrow_back
</i>
	</a>
</div>

<ng-template #elsePhone>
	<span>Unregistered phone</span>
</ng-template>