<div class="row">
	<div class="col s12 m12 l12">
   <div class="col s12 m6 l4">
    <div class="card hoverable pointer radius-card" (click)="goToTechnicians()">
      <div class="card-image small center">
        <br />
        <span class="left margin-icon-card"><i class=" large material-icons blue-text darken-3">people</i></span>
      </div>
      <div class="divider "></div>
      <div class="card-content  ">
        <h4 class="center">Técnicos</h4>
        <label>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</label>

      </div>
    </div>
  </div>
  <div class="col s12 m6 l4">
    <div class="card hoverable pointer radius-card">
      <div class="card-image small center">
        <br />
        <span class="left margin-icon-card"><i class=" large material-icons blue-text darken-3">settings</i></span>
      </div>
      <div class="divider "></div>
      <div class="card-content  ">
        <h4 class="center">Reparaciónes</h4>
        <label>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</label>

      </div>
    </div>
  </div>
   <div class="col s12 m6 l4">
    <div class="card hoverable pointer radius-card">
      <div class="card-image small center">
        <br />
        <span class="left margin-icon-card"><i class=" large material-icons blue-text darken-3">person</i></span>
      </div>
      <div class="divider "></div>
      <div class="card-content  ">
        <h4 class="center">Clientes</h4>
        <label>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</label>

      </div>
    </div>
  </div>
    <div class="col s12 m6 l4">
    <div class="card hoverable pointer radius-card">
      <div class="card-image small center">
        <br />
        <span class="left margin-icon-card"><i class=" large material-icons blue-text darken-3">description</i></span>
      </div>
      <div class="divider "></div>
      <div class="card-content  ">
        <h4 class="center">Ordenes</h4>
        <label>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</label>

      </div>
    </div>
  </div>


</div>
</div>
