<div class="row">
	<div class="col s12 m12 l12">

   <div class="col s12 m6 l4">
    <div class="card hoverable pointer radius-card"  (click)="goToUsers()">
      <div class="card-image small center">
        <br />
        <span class="left margin-icon-card"><i class=" large material-icons blue-text darken-3">person</i></span>
      </div>
      <div class="divider "></div>
      <div class="card-content  ">
        <h4 class="center">Users</h4>
        <label>Lorem ipsum dolor sit amet consectetur adipisicing elit...</label>

      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hoverable pointer radius-card" (click)="goToBreakdowns()">
      <div class="card-image small center">
        <br />
        <span class="left margin-icon-card "><i class=" large material-icons grey-text ">settings</i></span>
      </div>
      <div class="divider "></div>
      <div class="card-content  ">
        <h4 class="center">Breakdowns</h4>
        <label>Lorem ipsum dolor sit amet consectetur adipisicing elit...</label>

      </div>
    </div>
  </div>
    <div class="col s12 m6 l4">
    <div class="card hoverable pointer radius-card" (click)="goToOrders()">
      <div class="card-image small center">
        <br />
        <span class="left margin-icon-card "><i class=" large material-icons brown-text darken-3">description</i></span>
      </div>
      <div class="divider "></div>
      <div class="card-content  ">
        <h4 class="center">Orders</h4>
        <label>Lorem ipsum dolor sit amet consectetur adipisicing elit...</label>

      </div>
    </div>
  </div>
 <div class="col s12 m6 l4">
    <div class="card hoverable pointer radius-card" (click)="goToCategories()">
      <div class="card-image small center">
        <br />
        <span class="left margin-icon-card "><i class=" large material-icons green-text darken-3 ">local_activity</i></span>
      </div>
      <div class="divider "></div>
      <div class="card-content  ">
        <h4 class="center">Categories</h4>
        <label>Lorem ipsum, dolor sit amet consectetur adipisicing elit...</label>

      </div>
    </div>
  </div>
</div>
</div>
