<div class="row">
  <div class="col s12 m12 l12 card radius-card hoverable">
    <h4 class=" grey-text left">Breakdowns</h4>
    
    <div class="row">
      <form class="col s12" #form="ngForm" (submit)="actions($event)" [hidden]="createFormState">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">description</i>
          <input id="description" type="text" class="validate" [(ngModel)]="breakdown.description" name="description">
          <label for="description">Description</label>
        </div>

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">attach_money</i>
          <input id="price" type="text" class="validate" [(ngModel)]="breakdown.price" name="price">
          <label for="price">Price</label>
        </div>

        <div class="input-field col s12 m6">
          <div class="select">
            <select class="select-text browser-default" [(ngModel)]="breakdown.category_id" name="category_id" required>
              <option value="" disabled selected>Choose a category</option>
              <option *ngFor="let category of categories" 
              [value]="category.id"> 
                {{category.description}}
              </option>
            </select>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
            <label class="select-label">Categories</label>
          </div>
        </div>      

        <div class="input-field col s6">
          <Button type="submit" class="waves-effect waves-light btn green"[disabled]="!breakdown.description||!breakdown.price||!breakdown.category_id"  ><i class="material-icons right" >save</i>Save</Button>
        </div>
      </form>
    </div>
   
    <table class="highlight responsive-table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Price</th>
          <th>Category</th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let breakdown of breakdowns" >
          <td>{{breakdown.description}}</td>
          <td>{{breakdown.price}}</td>
          <td>{{breakdown.category.description}}</td>
          <td><a class="btn-floating waves-effect waves-light red" (click)="deleteBreakdown(breakdown.id)"><i class="material-icons" >delete</i></a></td>
          <td><a class="btn-floating waves-effect waves-light blue"><i class="material-icons" (click)="getBreakdown(breakdown.id)">edit</i></a></td>
        </tr>
      </tbody>
    </table>

    <ul class="pagination">
      <li [class.disabled]="responseModel.meta.current_page === 1"
        (click)="getAllBreakdowns(responseModel.meta.current_page-1)">
        <a><i class="material-icons">chevron_left</i></a>
      </li>

      <li *ngFor="let page of pagination"
        (click)="getAllBreakdowns(page)"
        [class.active]="responseModel.meta.current_page === page"
        [class.green] ="responseModel.meta.current_page === page" >
        <a >{{page}}</a>
      </li>

      <li [class.disabled]="responseModel.meta.current_page === responseModel.meta.last_page"
          (click)="getAllBreakdowns(responseModel.meta.current_page+1)">
        <a ><i class="material-icons">chevron_right</i></a>
      </li>
    </ul>

  </div>
</div>

<div class="fixed-action-btn" #f>
  <a class="btn-floating btn-large {{fabColor}}" (click)="onTap()">
    <i class="large material-icons">{{materialIcon}}</i>
  </a>
</div>
